h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}
#main{
	min-width: 1100px;
}
#slider_main img{
	min-width: 100%;
	height: 337px;
}
.main_content{
	width: 100%;
	position: relative;
	height: 100px;
}
#background{
	width: 100%;
	height: 2827px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
}
.main_head{
	width: 990px;
	height: 65px;
	border-left: 10px solid rgb(207,254,255);
	border-right: 10px solid rgb(207,254,255);
	margin: 0 auto;
	position: relative;
	top: 16px;	
}
.content{
	width: 975px;
	height: 65px;
	background-color:rgb(207,254,255);
	margin-left: 8px;
	position: relative;
	font-size: 20px;
	font-family: 'jkaton';
}
#word_content{
	position: absolute;
	left: 110px;
	top: 20px;
}
#word_content span{
	position: absolute;
	left: -40px;
	top: -10px;
	background-image: url(../imgs/cake_sub_page/content_cat.jpg);
	width: 37px;
	height: 44px;
}
#youhui{
	position: absolute;
	right: 40px;
	top: 20px;
}
.discount{
	position: absolute;
	top: 8px;
	left: 410px;
}
#discount_price{
	width:90px;
	height: 50px;
	background-color: red;
	color: white;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
}
#lijilingqu{
	position: absolute;
	top: 0;
	right: -45px;
	cursor: pointer;
}
#lijilingqu img{
	width: 40px;
	height: 50px;
}
.today{
	height: 280px;
	width: 1100px;
	margin: 10px auto;
	border-top: 3px solid rgb(239,147,173);
	position: relative;
	box-shadow: 0 1px 8px rgb(100,100,100);
}
.today_title{
	width: 130px;
	height: 36px;
	line-height: 30px;
	text-align: center;
	margin:5px auto;
	border-top: 2px solid rgb(239,147,173);
	border-bottom: 2px solid rgb(239,147,173);
}
.today_title h4{
	font-weight: normal;
	background-color: rgb(240,176,194);
	margin: 3px 0;
}
.list_1{
	top: 30px;
	left: 50px;
}
.list_2{
	top: 30px;
	right:50px;
}
.list_3{
	top: 30px;
	left: 50px;
}
.list_4{
	top: 30px;
	right:50px;
}
.grass_list{
	height: 550px !important;
}
.list_5{
	top: 290px;
	left: 50px;
}
.list_6{
	top: 290px;
	right: 50px;
}
.xinpin_title{
	width: 1100px;
	height: 68px;
	margin: 0 auto;
}
.xinpin_title img,.xinpin_list img{
	width: 100%;
	height: 100%;
}
.xinpin_list{
	width: 310px;
	height: 190px;
	margin: 20px;
	float: left;
}
.xinpin_content{
	width: 1100px;
	margin: 0 auto;
}
.sweet_title{
	width: 1100px;
	height: 110px;
	margin: 0 auto;
}
.title{
	width: 1100px;
	margin: 5px auto;
	position: relative;
}
.title div{
	height: 40px;
	width: 820px;
	margin: 0 auto;
	box-shadow: 0 2px 3px black;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	background: -webkit-linear-gradient(top,white,rgb(254,140,153)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top,white,rgb(254,140,153)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top,white,rgb(254,140,153)); /* Firefox 3.6 - 15 */
    background: linear-gradient(top,white,rgb(254,140,153)); /* 标准的语法 */
}
.title span{
	position: absolute;
	height: 40px;
	width: 20px;
	box-shadow: 0 2px 3px black;
	background: -webkit-linear-gradient(top,white,rgb(254,140,153)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top,white,rgb(254,140,153)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top,white,rgb(254,140,153)); /* Firefox 3.6 - 15 */
    background: linear-gradient(top,white,rgb(254,140,153)); /* 标准的语法 */
}