.clear_fix:after{
	clear: both;
	zoom: 1;
	display: block;
	content: "";
	overflow: hidden;
}
.second_summer{
	margin: 30px auto;
}
.second_love{
	width: 300px;
	margin: 0 auto;
}
.second_love img{
	width: 300px;
}
.second_msg{
	font-family: STSong;
	margin: 0 auto;
	width: 252px;
}
.second_msg a{
	font-size: 14px;
}
.second_msg span{
	font-size: 6px;
}
.second_banner{
	position: relative;
	margin: 0 auto;	
}
.second_cat{
	margin: 0 auto;
	text-align: center;
}
.second_cat img{
	z-index: 1;
	width: 900px;
	height: 200px;
	margin: 20px auto;
}
.second_menu{
	z-index: 5;
	position: absolute;
	left: 246px;
	top: 46px;
	font-family: YouYuan;
	font-size: 16px;
}
.sour,.sweet,.sale{
	margin-top: 20px;
}
.sour span,.sweet span,.sale span{
	border: 1px solid rgb(248,146,152);
	border-radius: 4px;
	margin: 20px 30px;
	padding: 2px 14px;
}
.sour a,.sweet a{
	margin-right: 22px;
}
.sale a{
	margin-right: 30px;
}
.sale a i{
	font-size: 8px;
}
/*内容开始*/
.second_main{
	max-width: 1100px;
	margin: 20px auto;
	text-align: center;
	font-family: simsun;
}
.second_intr{
	float: left;	
	margin: 0 104px;
}
.second_intr p{
	font-size: 20px;
}
.second_intr p span{
	color: red;
}
.second_box{
	padding: 4px;
	border: 1px solid rgb(255,151,58);
}
.second_bike{
	background-color: rgb(255,151,58);
	color: white;
	padding: 2px;
}
.second_bike span{
	position: relative;
	top: -2px;
}
.second_bike span i{
	margin: 0 4px;
}
.second_bike img{
	width: 20px;
	position: relative;
	top: 2px;
}

/**/
.second_line{
	width: 100%;
	height: 24px;
	background-color: black;
	margin-bottom: 16px;
}
.second_classfy{
	width: 900px;
	margin: 0 auto;
	position: relative;
}
.second_more{
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: STSong;
}
.second_more a{
	font-size: 20px;
}
.second_more span{
	font-size: 12px;
}
.second_series img{
	width: 900px;
	margin-top: 30px;
	margin-bottom: 120px;
}
.second_minute{
	position: absolute;
	top: 132px;
	left: 140px;
	font-family: STSong;
}
.second_minute ul{
	float: left;
	margin-right: 120px;
}
.second_minute ul li{
	margin: 36px 0;
}
